.todo-event {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.todo-event-actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media screen and (width <= 640px) {
  .todo-event {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
