.todo-event {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.todo-event-actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
