/* Rest */

html {
  font-size: 62.5%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
}

* {
  outline: none;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*End Reset */

/* Constant */

:root {
  --base-color: rgb(30, 30, 46);
  --text-color: rgb(205, 214, 244);
  --overlay-color: rgb(108, 112, 134);
  --selected-color: rgb(147, 153, 178);
}

/* End Constant */

/* Todo Panel */

.todo-panel {
  background-color: var(--base-color);
  min-height: 90vh;
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-panel .title {
  width: 80%;
}

.todo-panel .title h1 {
  text-align: center;
  font-size: 3rem;
}

/* End Todo Panel */

/* New Event */

.new-event {
  margin-top: 1rem;
  width: 100%;
}

.new-event form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.new-event textarea {
  resize: none;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
}

.new-event label {
  font-size: 2rem;
}

/* End New Event */

/* Todo List */

.todo-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 80%;
}

/* End Todo List */
